@media screen and (max-width: 1220px) {
    .header .logo {
        max-width: 190px;
    }

    .character-selection {
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
    }

    .character-selection .characters {
        margin-top: 37px;
    }

    .character-selection .characters .title {
        font-size: 15px;
    }

    .character-selection .character-list {
        gap: 9px;
    }

    .character-selection .character img {
        width: 80px;
    }

    .selected-character .character-png {
        width: 350px;
        height: 350px;
    }

    .selected-character .character-description {
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}